body{
    font-family: 'Tajawal', sans-serif!important;
}

/*
.ul-lang-swich{
    max-width: 150px!important;
    min-width: 150px!important;

}

.main-header .navbar-nav .dropdown-menu-right {
    left: 0 !important;
    right: -100px!important;
}


.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 50%;
    left: 10px!important;
    right: auto!important;
    width: 20px;
}
 */
.breadcrumb-item + .breadcrumb-item::before {
    float: right!important;
    padding-left: .5rem!important;
    padding-right:.5rem!important;
    color: #6c757d;

}
.alert-dismissible{padding-right: 1rem!important;padding-left:1rem!important; font-size: .9rem!important;}

.nav-sidebar .menu-open > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-is-opening > .nav-link i.right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
