.back-to-top {
    bottom: 2.7rem!important;
}
.main-footer {
    background-color: #343a40;
    border-color: #4b545c;
}


.liveClock .nav-link{
/*
    padding: 0px!important;
    font-size: .9rem;
    line-height: 2.3rem;
 */
}


.liveClock_span{
    color: rgba(255,255,255,.75)!important;
    padding: .5rem 1rem !important;
}
.required_Span{color: red!important; font-weight: bold}
.dir_ar{direction:rtl!important;text-align:right}
.dir_en{direction:ltr!important; text-align:left; width:100%}

.label_ar{direction:rtl!important;text-align:right}
.label_en{direction:ltr!important; text-align:left; width:100%}


.card-bodyX{padding-top:10px; padding-bottom:30px;}

.form-control.is_invalid_ar {
  padding-left: 0.75rem!important;
  padding-right: 2.25rem!important;
  background-position: right calc(.375em + .1875rem) center!important; 
}


 textarea.form-control.is_invalid_area_en {
  padding-right: 2.25rem;
  background-position: top calc(0.375em + 0.1875rem) left calc(0.375em + 0.1875rem)!important; 
}



.popover-body{
direction:ltr!important
}

#iconpicker_target{
width:150px;
font-size:40px;
padding:0px!important
}

#iconpicker_target i{
margin-right:10px;
margin-left:10px;
font-size:35px;
}


.mainForm{
padding-bottom:50px;
}



.table td, .table th {
  padding: .75rem;
  vertical-align:middle;
  border-top: 1px solid #dee2e6;
}


/*
.custom-select:invalid + .select2 .select2-selection{
    border-color: #dc3545!important;
}
.custom-select:valid + .select2 .select2-selection{
    border-color: #28a745!important;
}
*:focus{
  outline:0px;
}
*/


.watermark_imgView{
    background: #6f6f80;
    float: right;
    width: 100%;
    text-align: center!important;
    height: 300px;
}

.watermark_imgView img{
    max-height: 300px;
    max-width: 400px;
}

.bg-whiteBorder{
    border: 1px solid rgba(0, 0, 0, .1) ;
}


.TableIcon{
font-size:25px;
}


.PhotoImageCard{
text-align:center;
 
width:100%;
height:200px;
background-color:rgba(0,0,0,.3);
}


.PhotoImageCard img{
max-width:95%;
max-height:200px;
 

}



.IconShowDiv{

 }
 .IconShowIcon{
 margin:auto;
 width:90%;
 }



