.back-to-top {
    bottom: 2.7rem!important;
}
.main-footer {
    background-color: #343a40;
    border-color: #4b545c;
}


.liveClock .nav-link{
/*
    padding: 0px!important;
    font-size: .9rem;
    line-height: 2.3rem;
 */
}


.liveClock_span{
    color: rgba(255,255,255,.75)!important;
    padding: .5rem 1rem !important;
}
.required_Span{color: red!important; font-weight: bold}
.dir_ar{direction:rtl!important;}
.dir_en{direction:ltr!important;}

.card-bodyX{padding-top:10px; padding-bottom:30px;}

.form-control.is_invalid_ar {
  padding-left: 0.75rem!important;
  padding-right: 2.25rem!important;
  background-position: right calc(.375em + .1875rem) center!important; 
}


 textarea.form-control.is_invalid_area_en {
  padding-right: 2.25rem;
  background-position: top calc(0.375em + 0.1875rem) left calc(0.375em + 0.1875rem)!important; 
}



.popover-body{
direction:ltr!important
}

#Hanytarget{
width:150px;
font-size:40px;
padding:0px;
}

#Hanytarget i{
margin-right:20px;
margin-left:20px;
font-size:35px;


}
 


